.col {
  float: left;
}

.row {
  clear: both;
}

.col-10pc {
  float: left;
  width: 10%;
}

.col-20pc {
  float: left;
  width: 20%;
}

.col-30pc {
  float: left;
  width: 30%;
}


.col-40pc {
  float: left;
  width: 40%;
}

.col-50pc {
  float: left;
  width: 50%;
}


.col-60pc {
  float: left;
  width: 60%;
}


.col-70pc {
  float: left;
  width: 70%;
}


.col-80pc {
  float: left;
  width: 80%;
}


.col-90pc {
  float: left;
  width: 90%;
}


.col-100pc {
  float: left;
  width: 100%;
}


.list-group-item:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
